@import "tailwindcss";


@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  /* Extended BreakPoints  */
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  /* --padding-10: 10px;
  --padding-1: 50px; */
  /* --padding-c-50: 50px;
  --padding-c-10: 10px;
same as it is height width size margin */
}